@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

* {
    font-family: Roboto;
}

:root {
    --nasa-blue: rgb(11, 61, 145);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: var(--nasa-blue);
    font-size: 20px;
}

.picture-title {
    font-size: 40px;
    color: red;
}

.nasa-picture {
    width: auto;
    height: auto;
}

.picture-explanation {
    font-size: 30px;
}

.prev-pics {
    text-decoration: none;
}

.prev-pics:hover {
    text-decoration: underline;
}

.now-pic {
    text-decoration: none;
}

.now-pic:hover {
    text-decoration: underline;
}

.datepick-label {
    margin-bottom: 5px;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
}

.margin {
    margin-top: 10px;
}